<!DOCTYPE html>
<html>
  <head>
    <title>Informationsintegration</title>
    <style type="text/css" media="screen">
      a {
        color: black;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>