development:
  sqlite3:
    adapter: sqlite3
    database: db/development.sqlite3
    pool: 5
    timeout: 5000  
    
  mysql:
    adapter: mysql
    encoding: utf8
    reconnect: false
    database: thief_development
    pool: 5
    username: root
    password:
    socket: /tmp/mysql.sock
    
  postgresql:
    adapter: postgres
    encoding: unicode
    database: thief_development
    pool: 5
    username: postgres
    password:

test:
  sqlite3:
    adapter: sqlite3
    database: db/test.sqlite3
    pool: 5
    timeout: 5000

production:
  sqlite3:
    adapter: sqlite3
    database: db/production.sqlite3
    pool: 5
    timeout: 5000
